<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="com.termux.permission.RUN_TRUSTED_COMMAND" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
    <queries>
        <package android:name="com.termux" /><package android:name="com.termux.api" />
        <package android:name="com.termux.x11" /><package android:name="com.termux.boot" />
        <package android:name="com.termux.widget" /><package android:name="com.termux.styling" />
        <package android:name="com.termux.window" /><package android:name="com.termux.tasker" />
        <intent><action android:name="android.intent.action.VIEW" /><data android:scheme="https" /></intent>
    </queries>
    <application android:label="BashKitten" android:icon="@drawable/ic_bashkitten" android:allowBackup="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="bashkitten" android:host="session" /></intent-filter>
        </activity>
        <receiver android:name=".InstallResultReceiver" android:exported="false" />
        <receiver android:name=".CommandResultReceiver" android:exported="false" />
    </application>
</manifest>
